{% extends "layout.html" %}

{% block title %}Software Development Department at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    {{ include('sections/job/title-and-crumbs.html', {header_title: 'Our Department'}) }}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Who We Are</h2>

                    <p>
                        We are the Software Development Department of <a href="https://wikimedia.de/">Wikimedia Deutschland e.V.</a>
                        We create and maintain <a href="{{ basepath }}/projects">Open Source software</a> that support
                        Wikimedia projects such as Wikipedia and Wikidata.
                        There are multiple ways of <a href="{{ basepath }}/contributing">contributing</a> to our efforts
                        and we provide several <a href="{{ basepath }}/jobs">career opportunities</a>.
                    </p>

                    <p>
                        We are roughly 30 people, mostly working at the Wikimedia Deutschland office in Berlin.
                    </p>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12">
                    <h2>Meet Us</h2>

                    <p>Recurring events we organize:</p>

                    <ul>
                        <li><a href="https://www.wikimedia.de/wiki/LadiesthatFOSS">Ladies that FOSS</a></li>
                        <li><a href="https://www.wikidata.org/wiki/Wikidata:Events/Berlin">Wikidata Berlin meetup</a></li>
                    </ul>

                    <p>Some of the upcoming events where we will be represented:</p>

                    <ul>
                        <li><a href="https://www.socrates-conference.de/">SoCraTes 2018</a>, Soltau, Germany</li>
                        <li><a href="http://socratesbe.org/">SoCraTes Belgium 2018</a>, La Roche-en-Ardenne, Belgium</li>
                    </ul>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12" id="teamsColumn">
                    <h2>Our Development Teams</h2>

                    <p>
                        Our development teams are cross-functional, self-organizing and highly autonomous.
                        No single team leaders or middle management. Developers work directly with the
                        product owners.
                    </p>

                    <p>
                        What follows is an informal approximation of our teams. It is not an org-chart
                        and it does not capture all the details of peoples responsibilities, though should
                        still give you a good idea of how our department is structured.
                    </p>

                    <div class="row department">
                        <div class="col-lg-12">
                            <h3>QWERTY Team</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/1d/Christof_F.jpg/200px-Christof_F.jpg" alt="">
                                <div class="caption">
                                    <h4>Christoph Jauera<br>
                                        <small>Software Developer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/b/b9/Andrew_Kostka.jpg/200px-Andrew_Kostka.jpg" alt="">
                                <div class="caption">
                                    <h4>Andrew Kostka<br>
                                        <small>Software Developer (Working Student)</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/f/f2/JohannesK.jpg/200px-JohannesK.jpg" alt="">
                                <div class="caption">
                                    <h4>Johannes Kroll<br>
                                        <small>Software Developer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/c/c2/DSCN1473_Kopie.jpg/200px-DSCN1473_Kopie.jpg" alt="">
                                <div class="caption">
                                    <h4>Thiemo Kreuz<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:thiemo.kreuz@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="http://maettig.com/"><i class="fa fa-2x fa-globe"></i></a></li>
                                        <li><a href="https://github.com/thiemowmde"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row department">
                        <div class="col-lg-12">
                            <h3>Wikidata Team</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/4/45/Leszek_Manicki.jpg/200px-Leszek_Manicki.jpg" alt="">
                                <div class="caption">
                                    <h4>Leszek Manicki<br>
                                        <small>Engineering Manager</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:leszek.manicki@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/manicki"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/e/ea/Adam_Shorland.jpg/200px-Adam_Shorland.jpg" alt="">
                                <div class="caption">
                                    <h4>Adam Shorland<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:adam.shorland@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://addshore.com/"><i class="fa fa-2x fa-globe"></i></a></li>
                                        <li><a href="https://github.com/addshore"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/6/64/Jakob-Warkotsch.jpg/200px-Jakob-Warkotsch.jpg" alt="">
                                <div class="caption">
                                    <h4>Jakob Warkotsch<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:jakob.warkotsch@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/jakobw"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/9/96/Pablo_Grass.jpg/200px-Pablo_Grass.jpg" alt="">
                                <div class="caption">
                                    <h4>Pablo Grass<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:pablo.grass@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/wiese"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/0/01/Jonas_Kress.jpg/200px-Jonas_Kress.jpg" alt="">
                                <div class="caption">
                                    <h4>Jonas Kress<br>
                                        <small>Software Developer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/4/41/Aleksey_Bekh-Ivanov.jpg/200px-Aleksey_Bekh-Ivanov.jpg" alt="">
                                <div class="caption">
                                    <h4>Aleksey Bekh-Ivanov<br>
                                        <small>Software Developer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/8/82/Lucas_Werkmeister.jpg/200px-Lucas_Werkmeister.jpg" alt="">
                                <div class="caption">
                                    <h4>Lucas Werkmeister<br>
                                        <small>Software Developer (Working Student)</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://www.wikimedia.de/w/images.homepage/thumb/2/2f/Amir_Sarabadani.jpg/200px-Amir_Sarabadani.jpg" alt="">
                                <div class="caption">
                                    <h4>Amir Sarabadani<br>
                                        <small>Software Developer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/e/ec/Marius_Hoch.jpg/200px-Marius_Hoch.jpg" alt="">
                                <div class="caption">
                                    <h4>Marius Hoch<br>
                                        <small>Software Developer (Working Student)</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row department">
                        <div class="col-lg-12">
                            <h3>FUN Team</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/a/ad/Gabriel_Birke.jpg/200px-Gabriel_Birke.jpg" alt="">
                                <div class="caption">
                                    <h4>Gabriel Birke<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:gabriel.birke@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="http://www.lebenplusplus.de/"><i class="fa fa-2x fa-globe"></i></a></li>
                                        <li><a href="https://github.com/gbirke"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://www.wikimedia.de/w/images.homepage/thumb/0/04/Tonina_Zhelyazkova.jpg/200px-Tonina_Zhelyazkova.jpg" alt="">
                                <div class="caption">
                                    <h4>Tonina Zhelyazkova<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:tonina.zhelyazkova@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/tzhelyazkova"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://www.wikimedia.de/w/images.homepage/thumb/0/07/Tim_Eulitz.jpg/200px-Tim_Eulitz.jpg" alt="">
                                <div class="caption">
                                    <h4>Tim Eulitz<br>
                                        <small>Software Developer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:tim.eulitz@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/timEulitz"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/1b/Ebba_Aniansson.jpg/200px-Ebba_Aniansson.jpg" alt="">
                                <div class="caption">
                                    <h4>Ebba Aniansson<br>
                                        <small>Software Developer (Intern)</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12" id="byProductColumn">
                    <h2>Product Management</h2>

                    <div class="row department">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/7/74/Lydia_Pintscher_WMDE.jpg/200px-Lydia_Pintscher_WMDE.jpg" alt="">
                                <div class="caption">
                                    <h4>Lydia Pintscher<br>
                                        <small>Product Manager Wikidata</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/a/a8/Foto_Lea_Voget.jpg/200px-Foto_Lea_Voget.jpg" alt="">
                                <div class="caption">
                                    <h4>Lea Voget<br>
                                        <small>Product Manager Technical Wishes</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/3/3d/KN_bearbeitet.JPG/200px-KN_bearbeitet.JPG" alt="">
                                <div class="caption">
                                    <h4>Kai Nissen<br>
                                        <small>Product Manager Fundraising</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:kai.nissen@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/KaiNissen"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12" id="commComm">
                    <h2>Community Communications</h2>

                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/c/cc/Lea_Lacroix.jpg/200px-Lea_Lacroix.jpg" alt="">
                            <div class="caption">
                                <h4>Léa Lacroix<br>
                                    <small>Project Manager Community Communication Wikidata</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/4/45/Jens_Ohlig_WMDE.jpg/200px-Jens_Ohlig_WMDE.jpg" alt="">
                            <div class="caption">
                                <h4>Jens Ohlig<br>
                                    <small>Software Communications Strategist</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/8/8e/Johanna_Strodt.jpg/200px-Johanna_Strodt.jpg" alt="">
                            <div class="caption">
                                <h4>Johanna Strodt<br>
                                    <small>Project Manager Communications</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/b/ba/Michael_Schoenitzer.jpg/200px-Michael_Schoenitzer.jpg" alt="">
                            <div class="caption">
                                <h4>Michael Schönitzer<br>
                                    <small>Tech Community Communication (Working Student) </small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12" id="such-ux">
                    <h2>User Experience & Design</h2>

                    <div class="row department">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/1f/CharleneKritschmar.jpg/200px-CharleneKritschmar.jpg" alt="">
                                <div class="caption">
                                    <h4>Charlie Kritschmar<br>
                                        <small>UX Designer</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/3/3e/Hanna_Petruschat.jpg/200px-Hanna_Petruschat.jpg" alt="">
                                <div class="caption">
                                    <h4>Hanna Petruschat<br>
                                        <small>UX / Interaction Design</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12" id="supportingRolesColumn">
                    <h2>Supporting roles</h2>

                    <div class="row department">
                        <div class="col-lg-12">
                            <h3 id="department-wide">Management</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/11/Franziska-Heine.jpg/200px-Franziska-Heine.jpg" alt="">
                                <div class="caption">
                                    <h4>Franziska Heine<br>
                                        <small>Head of Software Development & Engineering</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/d/d9/Linda_Heyden.jpg/200px-Linda_Heyden.jpg" alt="">
                                <div class="caption">
                                    <h4>Linda-Rabea Heyden<br>
                                        <small>Assistant to the department</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/17/Sandra_M%C3%BCllrick.jpg/200px-Sandra_M%C3%BCllrick.jpg" alt="">
                                <div class="caption">
                                    <h4>Sandra Müllrick<br>
                                        <small>Advisor Software Development</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/1/1a/Tobias_Gritschacher_WMDE.jpg/200px-Tobias_Gritschacher_WMDE.jpg" alt="">
                                <div class="caption">
                                    <h4>Tobias Gritschacher<br>
                                        <small>Engineering Manager</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/e/e7/Raz_Shuty.jpg/200px-Raz_Shuty.jpg" alt="">
                                <div class="caption">
                                    <h4>Raz Shuty<br>
                                        <small>Engineering Manager</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/c/cb/BirgitM%C3%BCller.jpg/200px-BirgitM%C3%BCller.jpg" alt="">
                                <div class="caption">
                                    <h4>Birgit Müller<br>
                                        <small>Community Communications Manager</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/b/bc/Foto_Jan_Dittrich.jpg/200px-Foto_Jan_Dittrich.jpg" alt="">
                                <div class="caption">
                                    <h4>Jan Dittrich<br>
                                        <small>Team leader UX/Design</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h3>Other</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/b/bd/Jeroen_DeDauw.jpg/200px-Jeroen_DeDauw.jpg" alt="">
                                <div class="caption">
                                    <h4>Jeroen De Dauw<br>
                                        <small>Software Architect</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:jeroen.dedauw@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://entropywins.wtf/"><i class="fa fa-2x fa-globe"></i></a></li>
                                        <li><a href="https://github.com/JeroenDeDauw"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="thumbnail">
                                <img class="img-responsive" src="https://wikimedia.de/w/images.homepage/thumb/d/d7/Daniel_Kinzler_WMDE.jpg/200px-Daniel_Kinzler_WMDE.jpg" alt="">
                                <div class="caption">
                                    <h4>Daniel Kinzler<br>
                                        <small>Principal Platform Engineer</small>
                                    </h4>
                                    <ul class="list-inline">
                                        <li><a href="mailto:daniel.kinzler@wikimedia.de"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                                        <li><a href="https://github.com/brightbyte"><i class="fa fa-2x fa-github-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <br />

            <div class="well">
                <h4>Contact</h4>

                E-mail: <a href="mailto:software@wikimedia.de">software@wikimedia.de</a><br />

                IRC: <a href="https://webchat.freenode.net/?channels=#wikimedia-de-tech">#wikimedia-de-tech</a><br />

                Twitter: <a href="https://twitter.com/WikimediaDE">@WikimediaDE</a> <small>(not department specific)</small>
            </div>

            <div class="well">
                <h4>Posts From <a href="https://blog.wikimedia.de/tag/english/">Our Blog</a></h4>

                <ul>
                    {% for post in getBlogPosts("https://blog.wikimedia.de/tag/english/feed/atom/", 5) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {% endfor %}
                </ul>

                <h4>Posts By Our Developers</h4>

                <ul>
                    {% for post in getBlogPosts("https://www.entropywins.wtf/blog/tag/wmde/feed/atom/", 3) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {% endfor %}
                    {% for post in getBlogPosts("https://addshore.com/tag/wikimedia/feed/", 3) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {% endfor %}
                    {% for post in getBlogPosts("http://fordes.de/feeds/blog.atom.xml", 3) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {% endfor %}
                    {% for post in getBlogPosts("https://lebenplusplus.de/categories/wikimedia/index.xml", 3) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}
