{% extends "layout.html" %}

{% block header %}
    <style type="text/css">
        .image-bg-fixed-height {
            text-align: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            height: 400px;
            background: url('{{ basepath }}/images/postcard.jpg') no-repeat center top scroll;
            background-size: 100%;
            padding: 80px 0;
        }
    </style>

    <header class="image-bg-fixed-height" style="">
        <img width="300px" src="{{ basepath }}/images/wmde-logo.png" alt="" >
    </header>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Career Opportunities
            </h1>
        </div>

        {% include 'sections/job-intro.html' %}
    </div>

    <div class="row">
        <br />
        {% include 'sections/job-list.html' %}
    </div>

{% endblock %}
