{% extends "layout.html" %}

{% block header %}
    <style type="text/css">
        .image-bg-fixed-height {
            text-align: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            height: 400px;
            background: url('{{ basepath }}/images/postcard.jpg') no-repeat center top scroll;
            background-size: 100%;
            padding: 80px 0;
        }
    </style>

    <header class="image-bg-fixed-height" style="">
        <img width="300px" src="{{ basepath }}/images/wmde-logo.png">
        <h1 style="color: white">Wikidata Deutschland e.V.  Software Development Department</h1>
    </header>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <br />
            <br />
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Career Opportunities</h4>
                    <p>We are looking for passionate and skilled people.</p>
                    <a href="{{ basepath }}/jobs" class="btn btn-primary">View Opportunities</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Our Department</h4>
                    <p>We develop Free Software to support various Wikimedia projects.</p>
                    <a href="#" class="btn btn-primary disabled">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Our Projects</h4>
                    <p>We develop Free Software to support various Wikimedia projects.</p>
                    <a href="{{ basepath }}/projects" class="btn btn-primary">View Projects</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Contributing</h4>
                    <p>You can contribute as a developer, editor, or data donor.</p>
                    <a href="#" class="btn btn-primary disabled">Learn More</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
