{% extends "layout.html" %}

{% block title %}Career Opportunities at Wikimedia Deutschland{% endblock %}

{% block content %}

    <div class="container">

        {{ include('sections/job/title-and-crumbs.html', {header_title: 'Career Opportunities'}) }}

        <div class="row">
            <div class="col-md-8">
                <p>
                    In the <a href="{{ basepath }}/department">software development department</a> we
                    are building <a href="{{ basepath }}/projects">Open Source software</a> that powers
                    one of the most visited websites in the world.

                    We are constantly looking for skilled and passionate people to work with us. This
                    page lists our current open positions. If you are interested in working for us
                    in a different role, please <a href="mailto:sandra.muellrick@wikimedia.de">
                    send an email to sandra.muellrick@wikimedia.de.</a>
                </p>
            </div>

            <div class="col-md-4">

                <div style="max-width: 360px; min-width: 360px; background-color: #f5f5f5; border: 1px solid #e3e3e3; padding: 19px; padding-bottom: 0px; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);">
                    <video width="320" controls poster="{{ filepath }}/images/wmde-logo.png">
                        <source src="https://upload.wikimedia.org/wikipedia/commons/5/5e/The_2016_Wikimedia_Hackathon_in_Jerusalem.webm" type="video/webm">
                        Your browser is not compatible with post-stone-age technology.
                    </video>

                    <p>Wikimedia 2016 Hackathon in Jerusalem</p>
                    <p style="font-size: xx-small">VGrigas (WMF), 2016 Wikimedia Hackathon in Jerusalem, CC BY SA 3.0</p>
                </div>

            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Fullstack Developer (optionally as contractor)</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            As a Fullstack Developer you will work on our existing and future online fundraising
                            donation application and possible cross-department projects at Wikimedia Deutschland.
                        </p>
                        <a href="{{ basepath }}/jobs/fullstack-developer" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-users"></i> Engineering Manager</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Engineering Managers at Wikimedia Deutschland e.V. support engineers and designers who
                            build features, products and services.
                        </p>
                        <a href="{{ basepath }}/jobs/engineering-manager" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-list-alt"></i> Frontend Developer Wikidata (optionally as contractor)</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            As a Frontend Developer you will work on the user interface parts of
                            Wikibase, the software behind Wikidata.
                        </p>
                        <a href="{{ basepath }}/jobs/frontend-developer-wikidata" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Wikimedia Deutschland also provides career opportunities outside of its
                        software development department. The job descriptions can be found on our
                        wiki and are (generally) in German.
                    </p>
                </div>
                <div class="col-md-4" id="HiringProcess">
                    <a class="btn btn-lg btn-default btn-block" href="https://wikimedia.de/wiki/Jobs">View Non-software Opportunities</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h2 id="HackerRank">Hiring process</h2>

                <p>We aim to keep our hiring process as straightforward and transparent as possible.</p>

                <p>
                    Below are the various steps of our hiring process for developers.
                    For non-developer yet technical positions such as User Experience expert and for
                    non-technical positions such as Product Manager and Community Manager, things are different.
                    There is no HackerRank step and the Pair Programming session is replaced by a Case Study.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <ul class="timeline-v2">
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2 id="TelephoneInterview">HackerRank</h2>
                            <p>
                                Easy questions and programming exercises that get graded automatically.
                                Typically this takes a bit under an hour to complete.
                            </p>
                            <p>
                                We use HackerRank to avoid spam applications and establish
                                a minimum level of technical ability and willingness to spend time in our hiring process.
                            </p>
                        </div>
                    </li>
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2 id="PairProgramming">Telephone Interview</h2>
                            <p>
                                30 minute call where we’ll get to know each other and to see what
                                values we both share. It’s a two way conversation, and we want to
                                understand if we may be a good fit for each other.
                            </p>
                        </div>
                    </li>
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2>Pair Programming Session</h2>
                            <p>
                                This session lasts 90 minutes and allows us to get a better understanding
                                of your technical skills and how you collaborate. It is done remotely
                                over Google Hangout with one or two of our developers.
                            </p>

                            <p>
                                The session starts with a 25 minute segment in which you will be asked
                                a number of broad technical questions and in which we will talk about
                                your motivation, your learning habits, your goals and your expectations.
                            </p>

                            <p>Before the second segment you can take a short break if you want.</p>

                            <p>
                                The second segment is the Pair Programming part of the session and lasts
                                about 55 minutes. You'll be working together with one of the developers
                                on refactoring a small set of self contained legacy code. No knowledge of
                                MediaWiki or other such specific technology is required. You will have the
                                choice between doing the exercise in PHP and in JS.
                            </p>

                            <p>
                                The Pair Programming allows us to see how you approach problems, how
                                you collaborate and how you communicate. You and the developer will
                                pretend to work, as colleagues, on a task at a company you just started
                                working for. This collaboration is what is evaluated, so there is no need
                                to rush and try to get as much of the exercise done as possible. If
                                it is not completed, which is likely, you will not be penalized for this.
                            </p>

                            <p>
                                The remote pairing is done via <a href="https://floobits.com/">Floobits</a>,
                                a service that allows synchronization of code between different machines and editors.
                                If you are using one of the <a href="https://floobits.com/help/plugins">supported editors</a>,
                                you can just install the Floobits plugin for it. If none of these editors works for you,
                                it is possible to use the web based editor. For the web based editor, you also set up
                                <a href="https://floobits.com/help/floomatic">synchronization of the files to your device</a>,
                                since otherwise you will not be able to execute the program and tests.
                                The developer is likely to use PhpStorm (IntelliJ) as editor.
                            </p>

                            <p>
                                To prepare for the session, create a Floobits account and set up and test the integration
                                with your editor of choice. Make sure your Google Hangout is working and that you are able
                                to execute in the language you choose for the exercise.
                            </p>

                            <p>
                                At the end of the session there is some time to ask extra questions about whatever
                                you are curious about, such as the structure of our teams, the agile process we
                                use, or the technologies used for a given project.
                            </p>
                        </div>
                    </li>
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2 id="InsightDay">Insight Day</h2>
                            <p>
                                A half-day during which you visit our office in Berlin.
                                For people living abroad we might choose to pay their travel costs,
                                or we might choose to do the Insight Day remotely.
                            </p>
                            <p>
                                You will be given a tour through the office and briefly meet
                                with people that have various roles.
                            </p>
                            <p>
                                You will also spend some
                                time with one or more of the developers you would be working with
                                by sitting next to them as they walk you through something they
                                are working on. This allows you to get to know your potential
                                colleagues and potential codebase, ask questions and discuss
                                things as you see fit, as well as giving these colleagues a chance
                                to get to know you.
                            </p>
                        </div>
                    </li>
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2>Final Interview</h2>
                            <p>
                                A final non-technical interview with our head of department.
                            </p>
                        </div>
                    </li>
                    <li class="equal-height-columns"><i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 148px;">
                            <h2>Offer</h2>
                            <p>
                                We send you the job offer based on the details agreed upon in the
                                Final Interview.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <p>
                    We try to move things along as quickly as possible, though likely need several days,
                    up to a week, in between the steps up to, and including, the Insight Day, to schedule
                    sessions. So you can expect that going though the whole process will take about 4 weeks.
                </p>

                <p>
                    We may skip the HackerRank and/or Telephone Interview steps for candidates already familiar to us.
                </p>
            </div>
        </div>

        <link href="{{ filepath }}/css/vertical-timelime.css" rel="stylesheet" type="text/css">

    </div>

{% endblock %}
