{% extends "layout.html" %}

{% block title %}Career Opportunities at Wikimedia Deutschland{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Career Opportunities
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ basepath }}/">Home</a></li>
                    <li class="active">Career Opportunities</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    In the <a href="{{ basepath }}/department">software development department</a> we
                    are building <a href="{{ basepath }}/projects">Open Source software</a> that powers
                    one of the most visited websites in the world.

                    We are constantly looking for skilled and passionate people to work with us. This
                    page lists our current open positions. If you are interested in working for us
                    in a different role, please <a href="mailto:sandra.muellrick@wikimedia.de">
                    send an email to sandra.muellrick@wikimedia.de.</a>
                </p>
            </div>

            <div class="col-md-4">

                <div style="max-width: 360px; min-width: 360px; background-color: #f5f5f5; border: 1px solid #e3e3e3; padding: 19px; padding-bottom: 0px; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);">
                    <video width="320" controls poster="{{ basepath }}/images/wmde-logo.png">
                        <source src="https://upload.wikimedia.org/wikipedia/commons/5/5e/The_2016_Wikimedia_Hackathon_in_Jerusalem.webm" type="video/webm">
                        Your browser is not compatible with post-stone-age technology.
                    </video>

                    <p>Wikimedia 2016 Hackathon in Jerusalem</p>
                    <p style="font-size: xx-small">VGrigas (WMF), 2016 Wikimedia Hackathon in Jerusalem, CC BY SA 3.0</p>
                </div>

            </div>
        </div>

        <div class="row">
            <br />
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Fullstack Developer</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            As a Fullstack Developer you will work on our existing and future online fundraising
                            donation application and possible cross-department projects at Wikimedia Deutschland.
                        </p>
                        <a href="{{ basepath }}/jobs/fullstack-developer" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-users"></i> Engineering Manager</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Engineering Managers at Wikimedia Deutschland e.V. support engineers and designers who
                            build features, products and services.
                        </p>
                        <a href="{{ basepath }}/jobs/engineering-manager" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-users"></i> Head of Software Development & Engineering</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            The Head of Software Development & Engineering product managers, engineers and designers
                            who build features, products and services.
                        </p>
                        <a href="{{ basepath }}/jobs/head-of-department" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-list-alt"></i> Frontend Developer Wikidata (freelancer/contractor)</h4>
                    </div>
                    <div class="panel-body">
                        <p>

                        </p>
                        <a href="{{ basepath }}/jobs/frontend-developer-wikidata" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-list-alt"></i> UX Intern</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            We are looking for a UX intern to join our Software Engineering team and work
                            closely with our UX designer/researcher.
                        </p>
                        <a href="{{ basepath }}/jobs/ux-intern" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
