{% extends "layout.html" %}

{% block title %}Software projects at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    {{ include('sections/job/title-and-crumbs.html', {header_title: 'Projects'}) }}

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/wikidata.png" alt="Wikidata logo">
        </div>
        <div class="col-md-8">
            <h3>Wikidata</h3>
            <strong>The free knowledge base that anyone can edit</strong>

            <p>
                <a href="https://www.wikidata.org">Wikidata</a> is a free and open knowledge base that can be
                read and edited by both humans and machines. Wikidata provides central storage for the structured
                data of its <a href="https://www.wikimedia.org/">Wikimedia</a> sister projects including
                <a href="https://www.wikipedia.org/">Wikipedia</a>, <a href="https://www.wikivoyage.org/">Wikivoyage</a>,
                <a href="https://wikisource.org">Wikisource</a>, and others.
                Wikidata also provides support to many other sites and services beyond just Wikimedia projects.
                The content of Wikidata is freely available, can be exported using standard formats, and
                can be interlinked to other open data sets on the linked data web.
            </p>

            <p>
                <strong>Technologies:</strong>
                PHP,
                JavaScript,
                <a href="https://www.mediawiki.org">MediaWiki</a>,
                <a href="http://wikiba.se/">Wikibase</a>
            </p>

            <a class="btn btn-primary" href="https://www.wikidata.org/wiki/Wikidata:Contribute">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/technical-wishes.svg" alt="Technical Wishes Project logo">
        </div>
        <div class="col-md-8">
            <h3>Technical Wishes</h3>
            <strong>Improving MediaWiki Together</strong>

            <p>
                We work together with the German-speaking Wikimedia communities to address
                their technical needs.
            </p>

            <p><strong>Technologies:</strong> MediaWiki, PHP, JavaScript</p>

            <a class="btn btn-primary" href="https://phabricator.wikimedia.org/project/view/2084/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/Lizenzhinweisgenerator.png" alt="Attribution Generator logo">
        </div>
        <div class="col-md-8">
            <h3>Attribution Generator</h3>
            <p>
                An application that generates legally correct attribution for images from and
                for Wikipedia and <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.
            </p>

            <p><strong>Technologies:</strong> JavaScript, MediaWiki API</p>

            <a class="btn btn-primary" href="https://github.com/wmde/Lizenzverweisgenerator/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/fundraising.png" alt="Fundraising Software logo">
        </div>
        <div class="col-md-8">
            <h3>Fundraising Software</h3>

            <p>
                The software that enables donating to, and becoming a member of, Wikimedia Deutchland.
            </p>

            <p><strong>Technologies:</strong> PHP, JavaScript</p>

            <a class="btn btn-primary" href="https://github.com/wmde/FundraisingFrontend/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/Phragile.png" alt="Phragile logo">
        </div>
        <div class="col-md-8">
            <h3>Phragile</h3>

            <p>
                Phragile generates sprint overviews and data visualizations such as burndown charts for
                <a href="https://en.wikipedia.org/wiki/Phabricator">Phabricator</a> projects.
            </p>

            <p><strong>Technologies:</strong> PHP, JavaScript, Phabricator</p>

            <a class="btn btn-primary" href="https://github.com/wmde/phragile/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{{ basepath }}/images/OpenSource.png" alt="Open Source logo">
        </div>
        <div class="col-md-8">
            <h3>Open Source Work</h3>
            <p>
                As part of our work, we created multiple Open Source libraries and tools. Most of
                these are available on <a href="https://github.com/wmde/">our GitHub</a>. Also
                see our <a href="https://packagist.org/users/wmde/">PHP libraries on Packagist</a>.
            </p>
            <a class="btn btn-primary" href="https://github.com/wmde/">View Our GitHub</a>
        </div>
    </div>

</div>

{% endblock %}
