{% extends "layout.html" %}

{% block title %}Software projects at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Projects
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ basepath }}/">Home</a></li>
                <li class="active">Projects</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="{{ basepath }}/images/wikidata.png" alt="Wikidata logo">
        </div>
        <div class="col-md-8">
            <h3>Wikidata</h3>
            <h4>The free knowledge base that anyone can edit</h4>
            <p>
                <a href="https://www.wikidata.org">Wikidata</a> is a free and open knowledge base that can be
                read and edited by both humans and machines. Wikidata provides central storage for the structured
                data of its Wikimedia sister projects including Wikipedia, Wikivoyage, Wikisource, and others.
                Wikidata also provides support to many other sites and services beyond just Wikimedia projects.
                The content of Wikidata is freely available, can be exported using standard formats, and
                can be interlinked to other open data sets on the linked data web.
            </p>
            <a class="btn btn-primary" href="https://www.wikidata.org/wiki/Wikidata:Contribute">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="{{ basepath }}/images/technical-wishes.svg" alt="Technical Wishes Project logo">
        </div>
        <div class="col-md-8">
            <h3>Technical Wishes</h3>
            <h4>Improving MediaWiki Together</h4>
            <p>
                We work in a joint process with the German-speaking Wikimedia communities to address
                technical needs of the editing communities.
            </p>
            <a class="btn btn-primary" href="https://phabricator.wikimedia.org/tag/german-community-wishlist/">Contribute Now</a>
        </div>
    </div>

</div>

{% endblock %}
