{% extends "layout.html" %}

{% block title %}Software projects at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Projects
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ basepath }}/">Home</a></li>
                <li class="active">Projects</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="{{ basepath }}/images/wikidata.png" alt="Wikidata logo">
        </div>
        <div class="col-md-8">
            <h3>Wikidata</h3>
            <h4>The free knowledge base that anyone can edit</h4>
            <p>
                <a href="https://www.wikidata.org">Wikidata</a> is a free and open knowledge base that can be
                read and edited by both humans and machines. Wikidata provides central storage for the structured
                data of its Wikimedia sister projects including Wikipedia, Wikivoyage, Wikisource, and others.
                Wikidata also provides support to many other sites and services beyond just Wikimedia projects.
                The content of Wikidata is freely available, can be exported using standard formats, and
                can be interlinked to other open data sets on the linked data web.
            </p>
            <a class="btn btn-primary" href="https://www.wikidata.org/wiki/Wikidata:Contribute">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="{{ basepath }}/images/technical-wishes.svg" alt="Technical Wishes Project logo">
        </div>
        <div class="col-md-8">
            <h3>Technical Wishes</h3>
            <h4>Improving MediaWiki Together</h4>
            <p>
                We work in a joint process with the German-speaking Wikimedia communities to address
                technical needs of the editing communities.
            </p>
            <a class="btn btn-primary" href="https://phabricator.wikimedia.org/tag/german-community-wishlist/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="http://placehold.it/400x300?text=Attribution Generator" alt="Attribution Generator logo">
        </div>
        <div class="col-md-8">
            <h3>Attribution Generator</h3>
            <p>
                An application that helps to generate a legally correct attribution for images from and
                for Wikipedia and Wikimedia Commons.
            </p>
            <a class="btn btn-primary" href="https://github.com/wmde/Lizenzverweisgenerator/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="http://placehold.it/400x300?text=Phragile" alt="Phragile logo">
        </div>
        <div class="col-md-8">
            <h3>Phragile</h3>
            <p>
                Phragile generates sprint overviews and data visualizations (for example burndown,
                burnup charts) for projects in Phabricator.
            </p>
            <a class="btn btn-primary" href="https://github.com/wmde/phragile/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="http://placehold.it/400x300?text=Fundraising Software" alt="Fundraising Software logo">
        </div>
        <div class="col-md-8">
            <h3>Fundraising Software</h3>
            <p>
                This is the software that powers the fundraising campaigns of WMDE.
            </p>
            <a class="btn btn-primary" href="https://github.com/wmde/FundraisingFrontend/">Contribute Now</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-hover" src="http://placehold.it/400x300?text=Open Source">
        </div>
        <div class="col-md-8">
            <h3>Open Source Work</h3>
            <p>
                As part of our work, we created multiple Open Source libraries and tools. Most of
                these are available on <a href="https://github.com/wmde/">our GitHub</a>. Also
                see our <a href="https://packagist.org/users/wmde/">PHP libraries on Packagist</a>.
            </p>
            <a class="btn btn-primary" href="https://github.com/wmde/">View Our GitHub</a>
        </div>
    </div>

</div>

{% endblock %}
