<div class="col-md-9">
    <p>In the software development department we are building open source software that powers one of the most visited websites in the world which is used by thousands of people every day. When you like to work with us or get to know us on several events send an email at sandra.muellrick@wikimedia.de or join the event.</p>
</div>
<div class="col-md-3">
    <video width="260" controls>
        <source src="https://upload.wikimedia.org/wikipedia/commons/5/5e/The_2016_Wikimedia_Hackathon_in_Jerusalem.webm" type="video/mp4">
        Your browser is not compatible with post-stone-age technology.
    </video>
</div>