<p>
    <strong>Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.</strong> is a non-profit organisation based in Berlin, Germany.
    With more than 80 employees and about 50.000 members, it is the oldest and largest of more than 40 independent chapters of
    the international Wikimedia movement. The most well-known Wikimedia project, the free online encyclopedia Wikipedia, is used
    by millions of people across the world every day and is continuously updated and improved by millions of users.
</p>