<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                Send us your detailed application documents via our job portal.
                Our personnel team will be happy to answer your questions.
                We kindly ask you to refrain from application photos and information
                on date of birth, marital status and parents. We look forward to hearing from you!
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="{{ link }}">Apply Online</a>
        </div>
    </div>
</div>
