<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                The first step in your application is going through a number of simple exercises on HackerRank.
                We will be in touch if the results are satisfactory.
                If you have any questions please contact sandra.muellrick@wikimedia.de.
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="{{ link }}">Go to HackerRank</a>
        </div>
    </div>
</div>