<h2>About you</h2>

<ul>
    <li>You care about software; you have a passion which you can clearly convey by your actions rather than personal statements on your CV alone</li>
    <li>You have an eye for software design and quality</li>
    <li>You can recognize legacy code and know how to effectively deal with it</li>
    <li>You are able to communicate fluently in English in a multidisciplinary team</li>
    <li>For you it’s more than a job</li>
</ul>

<p>
    We’re interested in candidates from any background, as long as you have a solid understanding of Object Oriented
    languages and basic experience with web development.
</p>