<h2>What we are offering you</h2>

<ul>
    <li>We have internal presentations by our developers on topics they are enthusiastic about</li>
    <li>You can attend local user groups during work time and you are encouraged to do so</li>
    <li>You will have a noticeable impact on one of the top four visited websites in the world</li>
    <li>We regularly go to conferences, both as attendees and participants</li>
</ul>

<p>
    Our development teams are cross-functional, self-organizing and highly autonomous. No single team
    leaders or middle management. You’ll be working directly with the product owner. Among other things,
    testing, refactoring, and pair programming are encouraged. We’re constantly trying to improve the way we work.
</p>

<p>
    All <a href="{{ basepath }}/projects">software we develop</a> is Open Source, we also contribute back to various projects we use.
    Many of our components are also published in a format that allows reuse outside of our own projects.
</p>