{% extends "layout.html" %}

{% block title %}Data Analyst | Career Opportunities at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Data Analyst</h1>

            <ol class="breadcrumb">
                <li><a href="{{ basepath }}/">Home</a></li>
                <li><a href="{{ basepath }}/jobs">Career Opportunities</a></li>
                <li class="active">Data Analyst</li>
            </ol>
        </div>
    </div>

    <div class="row">
        Stuff will be here
    </div>

</div>

{% endblock %}
