{% extends "job-layout.html" %}
{% set job_title = 'Engineering Manager' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            Engineering Manager at Wikimedia Deutschland e.V. support engineers and designers who
            build features, products and services used by hundreds of millions of people around
            the world. As experienced and hands-on Engineering Manager you enable our communities
            to achieve our Vision: a world in which every single human being can freely share in
            the sum of all knowledge.
        </p>

        <p>
            You will join our Software Development Department where we work on <a href="https://www.wikidata.org/">Wikidata</a>, a free
            collaborative, free licenced database to store the knowledge of the world. We also
            developing technical products & features for the german speaking <a href="https://www.wikipedia.org/">Wikipedia</a>. You’ll
            supporting teams that work on exciting open source technologies like the
            <a href="https://query.wikidata.org/">Wikidata Query Service</a>. Our Software Engineers
            working on ambitious projects like Wikidata, the Technical Wishlist and the local Fundraising.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>As an Engineering Manager, we’d like you to do these things</h2>

        <ul>
            <li>Organize teams to be effective in meeting their goals</li>
            <li>Develop goals and track progress publicly and collaboratively</li>
            <li>Represent team members within the organization and publicly</li>
            <li>Coordinate with other teams and departments and take care of agile engineering processes</li>
            <li>Support your team’s members to develop their individual career paths</li>
            <li>Recruit and hire new team members</li>
            <li>Write code for our products and projects with our Developers and Engineers</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% include 'sections/job/what-we-offer.html' %}
    </div>
</div>

{% endblock %}


{% block job_apply_now %}

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                To begin your application, please contact sandra.muellrick@wikimedia.de
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="mailto:sandra.muellrick@wikimedia.de">Email Sandra</a>
        </div>
    </div>
</div>

{% endblock %}