{% extends "job-layout.html" %}
{% set job_title = 'Frontend Developer Wikidata (freelancer/contractor)' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            As a Frontend Developer you will work primarily on the user interface parts of
            <a href="http://wikiba.se/">Wikibase</a>, the software behind
            <a href="https://www.wikidata.org/">Wikidata</a>, and its integration into other
            <a href="https://wikimedia.de">Wikimedia</a> projects. We are looking for someone to join
            the Wikidata team working in our office in the heart of Berlin, though working remotely
            is an option, too.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>About you</h2>

        <ul>
            <li>You care about software; you have a passion which you can clearly convey by your actions rather than personal statements on your CV alone</li>
            <li>You have an eye for software design and quality</li>
            <li>You can recognize legacy code and know how to effectively deal with it</li>
            <li>You are able to communicate fluently in English in a multidisciplinary team</li>
            <li>For you it’s more than a job</li>
        </ul>

        <p>
            We’re interested in candidates from any background, as long as you have a solid understanding of Object Oriented
            languages and basic experience with web development.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        {% include 'sections/job/what-we-offer.html' %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Technologies we use</h2>

        <p>
            <a href="http://wikiba.se/">Wikibase</a> is an extension to the
            <a href="https://www.mediawiki.org/">MediaWiki</a> framework and the frontend
            parts are mainly written in JavaScript interacting with server side PHP code.
        </p>

        <p>An (incomplete) list of technologies we're currently using:</p>

        <ul>
            <li>JavaScript, PHP</li>
            <li>MediaWiki, several MediaWiki extensions</li>
            <li>PHPUnit, QUnit, Selenium, Cucumber, PHPCS, PHPMD, JSLint</li>
            <li>Git</li>
            <li>MySQL, SQLite</li>
            <li>Composer</li>
            <li>TravisCI, ScrutinizerCI, Jenkins</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block job_apply_now %}

{{ include('sections/job/apply-hackerrank.html', {link: 'https://www.hackerrank.com/tests/gite1kil0a4'}) }}

{% endblock %}