{% extends "layout.html" %}

{% block title %}Fullstack Developer | Career Opportunities at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Fullstack Developer</h1>

            <ol class="breadcrumb">
                <li><a href="{{ basepath }}/">Home</a></li>
                <li><a href="{{ basepath }}/jobs">Career Opportunities</a></li>
                <li class="active">Fullstack Developer</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                <strong>Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.</strong> is a non-profit organisation based in Berlin, Germany.
                With more than 80 employees and about 50.000 members, it is the oldest and largest of more than 40 independent chapters of
                the international Wikimedia movement. The most well-known Wikimedia project, the free online encyclopedia Wikipedia, is used
                by millions of people across the world every day and is continuously updated and improved by millions of users.
            </p>

            <p>
                Wikimedia Deutschland furthers these ideals even beyond the free encyclopedia: It is our aim to establish and promote the
                creation, collection, and distribution of free knowledge in all parts of society. Our objective is to create a world in which
                the sum of all human knowledge is freely accessible for everyone. The main focus of our activities is the support of volunteers,
                the development of technology and software, public education, and cooperation with cultural and scientific institutions. We
                grant scholarships to volunteers working for Wikimedia projects and we provide technical support. On both the national and
                EU-level, we are advocating a legal framework which allows for free knowledge to become part of our everyday life.
            </p>

            <p>In the software development department we are building open source software that impacts the world.</p>

            <p>
                As a Software Developer you will work on our existing and future online fundraising donation application and
                possible cross-department projects at Wikimedia Deutschland. We are looking for someone to join one of our
                agile development teams in our office in the heart of Berlin.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>About you</h2>

            <ul>
                <li>You care about software; you have a passion which you can clearly convey by your actions rather than personal statements on your CV alone</li>
                <li>You have an eye for software design and quality</li>
                <li>You can recognize legacy code and know how to effectively deal with it</li>
                <li>You are able to communicate fluently in English in a multidisciplinary team</li>
                <li>For you it’s more than a job</li>
            </ul>

            <p>
                We’re interested in candidates from any background, as long as you have a solid understanding of Object Oriented
                languages and basic experience with web development.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h2>What we are offering you</h2>

            <ul>
                <li>We have internal presentations by our developers on topics they are enthusiastic about</li>
                <li>You can attend local user groups during work time and you are encouraged to do so</li>
                <li>You will have a noticeable impact on one of the top four visited websites in the world</li>
                <li>We regularly go to conferences, both as attendees and participants</li>
            </ul>

            <p>
                Our development teams are cross-functional, self-organizing and highly autonomous. No single team
                leaders or middle management. You’ll be working directly with the product owner. Among other things,
                testing, refactoring, and pair programming are encouraged. We’re constantly trying to improve the way we work.
            </p>

            <p>
                All software we develop is open source, we also contribute back to various projects we use.
                Many of our components are also published in a format that allows reuse outside of our own projects.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Technologies we use</h2>

            <p>
                Most of our server side code is written in PHP. A lot of our projects have a HTML 5 & JavaScript frontend,
                which interact with server side backends via web APIs. We test our code with PHPUnit and QUnit, and with
                browser tests written in Ruby. Some of our code is written on top of the MediaWiki framework, some of it is
                entirely in-house and for newer projects we use libraries such as Symfony components and Doctrine.
            </p>

            <p>An (incomplete) list of technologies we're currently using:</p>

            <ul>
                <li>JavaScript, PHP, Ruby</li>
                <li>MediaWiki, several MediaWiki extensions</li>
                <li>PHPUnit, QUnit, Selenium, Cucumber, PHPCS, PHPMD, JSLint, Rubocop</li>
                <li>Git</li>
                <li>MySQL, SQLite</li>
                <li>Composer</li>
                <li>TravisCI, ScrutinizerCI, Jenkins</li>
                <li>Wikimedia Labs infrastructure</li>
                <li>Phabricator</li>
                <li>Linux server, nginx</li>
                <li>Puppet, Vagrant</li>
            </ul>
        </div>
    </div>

    {{ include('sections/job-apply-now.html', {link: 'http://hr.gs/amawzing-fullstack'}) }}

</div>

{% endblock %}
