{% extends "job-layout.html" %}
{% set job_title = 'Head of Software Development & Engineering' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            <strong>
                The Head of the Software Development and Engineering at Wikimedia Deutschland e.V. supports
                product managers, engineers and designers who build features, products and services used by
                hundreds of millions of people around the world. As an experienced and hands-on Manager
                you enable our communities to achieve our vision: a world in which every single human
                being can freely share in the sum of all knowledge.
            </strong>
        </p>

        <p>
            You will join our Software Development Department where we work on <a href="https://www.wikidata.org/">Wikidata</a>, a free
            collaborative, free licenced database to store the knowledge of the world. We also
            developing technical products & features for the german speaking <a href="https://www.wikipedia.org/">Wikipedia</a>. You’ll
            supporting teams that work on exciting open source technologies like the
            <a href="https://query.wikidata.org/">Wikidata Query Service</a>.
        </p>

        <p>
            Our development teams are cross-functional, self-organizing and highly autonomous.
            They work directly with the Product Managers and our community.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Your responsibilities would include:</h2>

        <ul>
            <li>Ensuring the delivery of innovative products & solutions of the department.</li>
            <li>Strategic development of the department together with all teams.</li>
            <li>Hiring, developing and grow teams and the department together with team leads, with a focus on diversity.</li>
            <li>Taking management responsibilities and ensuring a healthy working and leadership culture.</li>
            <li>Planning, budgeting & controlling for the entire department.</li>
            <li>Ensuring teams do their best work, and are inspired and empowered to do so.</li>
            <li>Ongoing development, iteration & learning with IT-Teams based on clear KPI’s and manage goals & expectations.</li>
            <li>Work closely together with the Wikimedia Foundation management on strategic goals of the Wikimedia Movement.</li>
            <li>Work in partnership with a global open source development community and in a close dialogue with our users.</li>
            <li>Experiment with new technologies, presently & find ideas (written & spoken) in a clear, consistent, organized way.</li>
            <li>Represent the department to internal and external stakeholders.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>We would like you to bring these skills:</h2>

        <ul>
            <li>Quickly adapt to new challenges as needed while maintained a clear mindset.</li>
            <li>Deep understanding of agile methods.</li>
            <li>Highly iterative development (release early, release often).</li>
            <li>BS in Computer Science or other relevant technical field or the equivalent in work experience.</li>
            <li>7+ years’ leadership experience in the internet industry.</li>
            <li>5+ years’ experience managing software engineering teams.</li>
            <li>Multiple years of experience working in an agile software development environment.</li>
            <li>Experience managing a geographically distributed software engineering team.</li>
            <li>Experience with open source software development.</li>
            <li>Collaborative working style, interpersonal skills, time management.</li>
            <li>Fluent German & English.</li>
        </ul>
    </div>
</div>

{% endblock %}


{% block job_apply_now %}

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                To begin your application, please contact jobs@wikimedia.de
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="mailto:jobs@wikimedia.de">Email us</a>
        </div>
    </div>
</div>

{% endblock %}