{% extends "job-layout.html" %}
{% set job_title = 'Program Manager Wikidata' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            In order to promote these aims, we are currently seeking a capable and motivated
            <b>Program Manager Wikidata</b> to join our Software & Development Department at the heart
            of Berlin to support the future growth of our Wikidata Platform. You will be responsible
            for aligning the different pillars of the program to ensure effective execution and brilliant results.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What we expect</h2>

        <p>As Program Manager Wikidata you should have:</p>

        <ul>
            <li>5 years of demonstrated success in a program management or operations management capacity within a technical setting</li>
            <li>Good knowledge and handling of project and program management methodology and techniques</li>
            <li>Good understanding of the wider objectives of the program</li>
            <li>Ability to work positively with the wide range of individuals involved in program management</li>
            <li>The ability to find innovative ways to resolve problems</li>
            <li>Strong interpersonal and communication skills</li>
            <li>Ability to meet cost, time and quality objectives when delivering projects</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What you will perform</h2>

        <p>As Program Manager Wikidata you are responsible for:</p>

        <ul>
            <li>Daily program management throughout the program life cycle</li>
            <li>Defining the program governance (controls)</li>
            <li>Planning the overall program and monitoring the progress</li>
            <li>Managing risks and issues and taking corrective measurements</li>
            <li>Coordinating the projects and their interdependencies</li>
            <li>Managing stakeholders’ communication</li>
            <li>Adoption of processes and governance across the 6 program areas</li>
            <li>Production of consistent project artefacts such as project plans, RAID logs, status reporting</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What we offer</h2>
        
        <ul>
            <li>You can attend local user groups during work time and you are encouraged to do so</li>
            <li>You will have a noticeable impact on one of the top four visited websites in the world</li>
            <li>We regularly go to conferences, both as attendees and participants</li>
        </ul>
        
        {% include 'sections/job/everything-is-os.html' %}        <h2></h2>

        <p>In addition to your salary we offer:</p>

        <ul>
            <li>Public transport allowance</li>
            <li>Access to complementary pension benefits</li>
            <li>Continued salary in the event of ill children</li>
            <li>Free coffee, tea, soft drinks and organic fruits</li>
        </ul>

        <p>Initial appointment is for 2 years.</p>
    </div>
</div>

{% endblock %}

{% block job_apply_now %}

{{ include('sections/job/apply-softgarden.html', {link: 'https://jobdb.softgarden.de/jobdb/public/jobposting/applyonline/click?jp=2596058'}) }}

{% endblock %}
