{% extends "job-layout.html" %}
{% set job_title = 'Software Architect' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            In order to promote these aims, we are currently seeking a capable and motivated
            <b>Software Architect</b> to join our agile development teams in our office at the heart of Berlin.
            You will be responsible for having your eye on the big picture that guides the development
            of our complex software products. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>About you</h2>

        <p>As a Software Architect you have/are:</p>

        <ul>
            <li>Experience in software development and coding in various languages</li>
	    <li>Excellent knowledge of software and application design and architecture</li>
	    <li>Eye level communicator with a proactive attitude for solving problems</li>
	    <li>Able to translate your ideas and decisions in a clear and intelligible way to technical and non-technical folks alike</li>
	    <li>Team-focused with strong collaborative skills</li>
	    <li>Enjoying mentoring other developers and helping them understand complex structures</li>
	    <li>Excellent knowledge of UML and other modeling methods</li>
	    <li>Understanding of software quality assurance principles</li>
	    <li>A technical mindset with great attention to detail</li>
	    <li>High quality organizational and leadership skills</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What we expect</h2>

        <ul>
            <li>8+ years professional OOP development experience</li>
            <li>3+ years application and system architecture experience</li>
            <li>2+ years data storage experience (relational database and document storage)</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Nice to have</h2>

        <ul>
            <li>2+ years experience with Elasticsearch</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What you will perform</h2>

        <p>As a Software Architect you are responsible for:</p>

        <ul>
            <li>Design reliable and performant software systems based on requirements and make decisions on platform, architecture and used technologies</li>
	    <li>Make design choices and suggest coding standards, tools and platforms</li>
	    <li>Train, coach, collaborate and create unified development standards with others within the organization</li>
	    <li>Reviews on architectural and code level</li>
	    <li>Control the architecture during each iteration of the system release</li>
	    <li>Drive research, case studies, and prototypes on leading edge technologies and how they can be leveraged</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What we offer</h2>
        
        <ul>
            <li>You can attend local user groups during work time and you are encouraged to do so</li>
            <li>You will have a noticeable impact on one of the top four visited websites in the world</li>
            <li>We regularly go to conferences, both as attendees and participants</li>
        </ul>
        
        {% include 'sections/job/everything-is-os.html' %}        <h2></h2>

        <p>In addition to your salary we offer:</p>

        <ul>
            <li>Public transport allowance</li>
            <li>Access to complementary pension benefits</li>
            <li>Continued salary in the event of ill children</li>
            <li>Free coffee, tea, soft drinks and organic fruits</li>
        </ul>

        <p>Initial appointment is for 2 years.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Technologies we use</h2>

        <p>
            Most of our server side code is written in PHP. A lot of our projects have a HTML 5 & JavaScript frontend,
            which interact with server side backends via web APIs. We test our code with PHPUnit and QUnit, and with
            browser tests written in Ruby. Some of our code is written on top of the MediaWiki framework, some of it is
            entirely in-house and for newer projects we use libraries such as Symfony components and Doctrine.
        </p>

        <p>An (incomplete) list of technologies we're currently using:</p>

        <ul>
            <li>JavaScript, PHP, Ruby</li>
            <li>MediaWiki, several MediaWiki extensions</li>
            <li>PHPUnit, QUnit, Selenium, Cucumber, PHPCS, PHPMD, JSLint, Rubocop</li>
            <li>Git</li>
            <li>MySQL, SQLite</li>
            <li>Composer</li>
            <li>TravisCI, ScrutinizerCI, Jenkins</li>
            <li>Wikimedia Labs infrastructure</li>
            <li>Phabricator</li>
            <li>Linux server, nginx</li>
            <li>Puppet, Vagrant</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block job_apply_now %}

{{ include('sections/job/apply-softgarden.html', {link: 'https://jobdb.softgarden.de/jobdb/public/jobposting/applyonline/click?jp=2609004'}) }}

{% endblock %}
