{% extends "job-layout.html" %}
{% set job_title = 'Software Architect' %}

{% block job_content %}

<div class="row">
	<div class="col-lg-12">
		<p>
			We are looking for a capable and motivated <b>Software Architect</b> to join our agile
			development teams in our office at the heart of Berlin. You will be responsible for
			keeping an eye on the big picture and for assisting our developers in creating well
			designed software and migrating away from legacy solutions.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2>About you</h2>

		<ul>
			<li>You care about software; you have a passion which you can clearly convey by your actions rather than personal statements on your CV alone</li>
			<li>You have deep understanding of software quality, design and architecture and of system architecture</li>
			<li>You can recognize legacy code and know how to effectively deal with it</li>
			<li>You are able to communicate fluently in English in a multidisciplinary team</li>
			<li>You enjoy collaboration with and mentoring of developers</li>
			<li>You have a proactive attitude to solving problems</li>
			<li>For you it’s more than a job</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2>Your responsibilities</h2>

		<ul>
			<li>Train, coach and collaborate with developers</li>
			<li>Assist the developer teams with software design and architecture</li>
			<li>Coordinate migration away from legacy solutions</li>
			<li>Review code</li>
		</ul>

		<p>You will be allowed to write code and are expected to do so where it makes sense.</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2>What we offer</h2>

		<ul>
			<li>You can attend local user groups during work time and you are encouraged to do so</li>
			<li>You will have a noticeable impact on one of the top four visited websites in the world</li>
			<li>We regularly go to conferences, both as attendees and participants</li>
		</ul>

		{% include 'sections/job/everything-is-os.html' %}

		<p>In addition to your salary we offer:</p>

		<ul>
			<li>Public transport allowance</li>
			<li>Access to complementary pension benefits</li>
			<li>Continued salary in the event of ill children</li>
			<li>Free coffee, tea, soft drinks and organic fruits</li>
		</ul>

		<p>The initial appointment is for 2 years.</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2>Technologies we use</h2>

		<p>
			Most of our server side code is written in PHP. A lot of our projects have a HTML 5 & JavaScript frontend,
			which interact with server side backends via web APIs. We test our code with PHPUnit and QUnit, and with
			browser tests written in Ruby. Some of our code is written on top of the MediaWiki framework, some of it is
			entirely in-house and for newer projects we use libraries such as Symfony components and Doctrine.
		</p>

		<p>An (incomplete) list of technologies we're currently using:</p>

		<ul>
			<li>JavaScript, PHP, Ruby</li>
			<li>MediaWiki, several MediaWiki extensions</li>
			<li>PHPUnit, QUnit, Selenium, Cucumber, PHPCS, PHPMD, JSLint, Rubocop</li>
			<li>Git</li>
			<li>MySQL, SQLite, Elasticsearch</li>
			<li>Composer</li>
			<li>TravisCI, ScrutinizerCI, Jenkins</li>
			<li>Wikimedia Labs infrastructure</li>
			<li>Phabricator</li>
			<li>Linux server, nginx</li>
			<li>Puppet, Vagrant</li>
		</ul>
	</div>
</div>

{% endblock %}

{% block job_apply_now %}

{{ include('sections/job/apply-softgarden.html', {link: 'https://jobdb.softgarden.de/jobdb/public/jobposting/applyonline/click?jp=2609004'}) }}

{% endblock %}
