{% extends "job-layout.html" %}
{% set job_title = 'UX / Interaction Designer' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            As an UX / Interaction Designer (f/m) you will work on the Software behind projects like
            <a href="https://www.wikipedia.org/">Wikipedia</a> and <a href="https://www.wikidata.org/">Wikidata</a>
            to improve their user experience and enable our communities to
            achieve our Vision: A world in which every single human being can freely share in the sum of all knowledge.
        </p>

        <p>
            We are looking for someone to join our teams in our office in the heart of Berlin.
            You will be working in our small UX team, closely working together with the other teams’ engineers,
            product managers and the community communication team.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Responsibilities:</h2>

        <ul>
            <li>Design concepts and interfaces for both beginners and experienced users of our projects. </li>
            <li>Discuss and iteratively improve ideas with fellow Designers, Product Managers, Engineers and the community. </li>
            <li>Distill complex concepts into easy to understand talking points, graphics or prototypes to effectively. </li>
        </ul>

        <h2>Qualifications/Your skills:</h2>

        <ul>
            <li>At least a master’s degree or equivalent working experience. </li>
            <li>Communicate fluently in English.</li>
            <li>Efficiently create mock ups of various fidelities to allow iteration, testing and decision making support.</li>
            <li>Knowledge of best practices and established design patterns in UI and interaction design. </li>
            <li>Understand and consider technical constraints in collaboration with our software engineers. </li>
            <li>Experience in working with agile and human centered methods, iteratively developing your designs based on new insights. </li>
        </ul>

        <h2>Plus:</h2>

        <ul>
            <li>Experience with volunteer communities. </li>
            <li>Experience in fields like usability testing, programming in HTML/CSS/Javascript or typography.</li>
            <li>German language skills.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% include 'sections/job/what-we-offer.html' %}
    </div>
</div>

{% endblock %}


{% block job_apply_now %}

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                To begin your application, please contact sandra.muellrick@wikimedia.de
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="mailto:sandra.muellrick@wikimedia.de">Email Sandra</a>
        </div>
    </div>
</div>

{% endblock %}