{% extends "job-layout.html" %}
{% set job_title = 'UX Intern' %}

{% block job_content %}

<div class="row">
    <div class="col-lg-12">
        <p>
            In the software development department, we are building open source software that
            impacts one of the most visited websites in the world. Your work will help to improve
            our products’ usability and usefulness for readers and editors in the Wikimedia communities.
        </p>

        <p>
            We are looking for an UX intern (m/f) to join our Software Engineering team in our office
            at the heart of Berlin. We are open to discuss possibilities to work remotely. You will work
            closely with our UX designer/researcher.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Your Duties</h2>

        <ul>
            <li>See features through from idea on paper through implementation and evaluation.</li>
            <li>Distill complex concepts into easy to understand talking points, graphics or prototypes to effectively articulate and discuss ideas with Product Managers, Engineers and the community.</li>
            <li>Understand the community, their needs and the usability of our products by gathering, analysing and discussing qualitative and quantitative data</li>
            <li>Iteratively improve features by consulting and exchanging with Product managers and Engineers.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>About you</h2>

        <ul>
            <li>You have a bachelor’s degree or equivalent experience.</li>
            <li>You have experience in Human Centered Design, Design Thinking <!-- :) --> or another research-based design method.</li>
            <li>You are able to communicate fluently in English in a multidisciplinary team</li>
            <li>Plus: Having basic knowledge in HTML and Javascript</li>
            <li>Plus: Share our love for open source</li>
            <li>Plus: experience with Open Source software/wikis</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>What we are offering you</h2>

        <ul>
            <li>A job where you can learn and get experience in UX design and research</li>
            <li>Insights and working experiences in an agile and collaborative environment</li>
            <li>Work in a supportive environment with personal mentoring to support your learning</li>
            <li>Flexible working times</li>
        </ul>

        {% include 'sections/job/everything-is-os.html' %}
    </div>
</div>

{% endblock %}

{% block job_apply_now %}

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                To begin your application, please contact sandra.muellrick@wikimedia.de
                with your CV, work examples and period of internship.
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="mailto:sandra.muellrick@wikimedia.de">Email Sandra</a>
        </div>
    </div>
</div>

{% endblock %}