{% extends "layout.html" %}

{% block title %}UX Intern | Career Opportunities at Wikimedia Deutschland{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">UX Intern</h1>

            <ol class="breadcrumb">
                <li><a href="{{ basepath }}/">Home</a></li>
                <li><a href="{{ basepath }}/jobs">Career Opportunities</a></li>
                <li class="active">UX Intern</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% include 'sections/job/position-intro.html' %}

            <p>We'll provide information on this position soon.</p>
        </div>
    </div>
</div>

{% endblock %}
