<!DOCTYPE html>
<html>
<head>
    <title>{% block title 'Software Development at Wikimedia Deutschland' %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ basepath }}/components/bootstrap/bootstrap-built.css" rel="stylesheet">
    <link href="{{ basepath }}/css/modern-business.css" rel="stylesheet">
    <link href="{{ basepath }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{{ basepath }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ basepath }}/favicon.ico" type="image/x-icon">

    <style>
        .navbar-brand {
            padding: 0px;
        }
        .navbar-brand>img {
            height: 100%;
            padding: 10px;
            width: auto;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ basepath }}/"><img src="{{ basepath }}/images/wmde-logo-horizontal.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if page == 'jobs' %}active{% endif %}">
                        <a href="{{ basepath }}/jobs">Career Opportunities</a>
                    </li>
                    <li class="disabled {% if page == 'department' %}active{% endif %}">
                        <a href="{{ basepath }}/department">Our Department</a>
                    </li>
                    <li class="{% if page == 'projects' %}active{% endif %}">
                        <a href="{{ basepath }}/projects">Our Projects</a>
                    </li>
                    <li class="disabled {% if page == 'contributing' %}active{% endif %}">
                        <a href="{{ basepath }}/contributing">Contributing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block header %}{% endblock %}

    <div class="container">

        {% block content %}{% endblock %}

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><a href="https://wikimedia.de/wiki/Wikimedia_Deutschland:Datenschutz">Datenschutz</a> &nbsp; <a href="https://wikimedia.de/wiki/Wikimedia_Deutschland:Impressum">Impressum</a></p>
                </div>
            </div>
        </footer>

    </div>

    <script src="{{ basepath }}/components/jquery/jquery.js"></script>
    <script src="{{ basepath }}/components/bootstrap/bootstrap-built.js"></script>
</body>
</html>